.header-wrapper {
    width: 100%;
    height: 16%;
    background: #EBE5C9;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    border-bottom: 1.5px solid black;
}

.header-wrapper .logo-containers {
    width: 10%;
    height: 100%;
    margin: 0 10px 0 7%;
    background: #EBE5C9;
    justify-content: center;
    float: left;
}

.logo-containers .logos {
    width: 85%;
    height: 100%;
    justify-content: center;
}

.greeting-patient {
    width: 12%;
    height: 100%;
    float: left;
    position: relative;
    font-family: "Roboto", serif;
}

.greeting-patient .text-container {
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
}

.greeting-patient h2 {
    font-size: 35px;
    font-weight: 500;
}

.greeting-patient h4 {
    margin-left: 53%;
    color : #737373;
    font-weight: 500;
}

.icons {
    width: 3%;
    height: 90%;
    float: left;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.manage {
    right: 0;
    margin-right: 10%;
    width: 15%;
    height: 50%;
    float: left;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 15px;
    font-family: "Roboto", serif;
    background: #BFBC8D;
    cursor: pointer;
}

.manage a{
    text-decoration: none;
    color: black;
}

.manage::hover {
    cursor: pointer;
}

.menu-wrapper-patient {
    position: absolute;
    width: 3%;
    height: 35%;
    margin-right: 4%;
    right: 0;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0.5%;
    border-radius: 10rem;
    border: 2px solid black;
    cursor: pointer;
}

.menu-wrapper-patient .menu-patient {
    width: 100%;
    height: 90%;
}
