.left-navbar {
    width: 35%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #BFBC8D;
    text-align: center;
    float: left;
}

.logo-container {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    background: #E3E0D0;
    border-radius: 10rem;
}

.logo-container .logo {
    width: 90%;
    height: 90%;
    margin-top: 5%;
}

.left-navbar .form-box.login {
    width: 70%;
    position: absolute;
    margin-left: 15%;
    background: transparent;
    bottom: 100px;
}

form h1 {
    font-size: 36px;
    color: #E3E0D0;
    text-align: center;
    text-shadow: 1px 1.5px #00000072;
}

form h4 {
    color: #F5F5F5;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: -5px;
    font-weight: 500;
}

form .input-box {
    width: 90%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}

.input-box input {
    font-family: "SF Pro";
    width: 100%;
    background: #EBE5C9;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #BFBC8D;
    border-radius: 0.5rem;
    outline: none;
    transition: ease 0.25s;
    padding: 15px 45px 15px 20px;
}

.input-box input:focus {
    box-shadow: 5.5px 7px 0 black;
}

.input-box input::placeholder {
    color: #969696;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
    color: #9D9B75;
}

form .remember-forgot {
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot a {
    color: #EFECE7;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    background: #E3E0D0;
    outline: none;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #B89C02;
    font-weight: 600;
}

.right-navbar {
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    text-align: center;
}

.header h1 {
    font-size: 70px;
    color: #BDAF5A;
    text-shadow: 1px 1.5px #000000c0;
}

.header h4 {
    font-size: 30px;
    color: #969696;
    font-weight: 500;
    margin-top: 10px;
    text-shadow: 1px 1.5px #00000072;
}

.header {
    width: 100%;
    margin-top: 50px;
}

.choices {
    width: 100%;
    display: flex;
    margin-top: 15%;
    justify-content: space-evenly;
}

.choices .personnel {
    width: 300px;
    height: 300px;
}

.choices .patient {
    width: 300px;
    height: 300px;
}

.choices .personnel:hover {
    opacity: 0.7;
}

.choices .patient:hover {
    opacity: 0.7;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
}

.footer a{
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: #828061;
    cursor: pointer;
}
