.header-wrapper1 {
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
}

.header-wrapper1 .logo-containers {
    width: 7%;
    height: 70%;
    margin: 0 1% 0 7%;
    justify-content: center;
    text-align: center;
    align-items: center;
    float: left;
    position: relative;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo-containers .logos {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.greeting-patient1 {
    width: 16%;
    height: 80%;
    float: left;
    position: relative;
    font-family: "Roboto", serif;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.greeting-patient1 .text-container {
    width: 100%;
    position: absolute;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
}

.greeting-patient1 h2 {
    font-size: 1.6vw;
    font-weight: 500;
    color: #AA8727;
    letter-spacing: 0.15em;
}

.greeting-patient1 h4 {
    font-size: 1vw;
    color : #AA8727;
    font-weight: 380;
    letter-spacing: 0.34em;
}

.link-containers {
    width: 25%;
    height: 20%;
    position: relative;
    float: left;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Roboto", serif;
}

.link-containers h2 {
    float: left;
    margin-left: 10%;
    font-size: 0.97vw;
    color: #AA8727;
    font-weight: 450;
    letter-spacing: 0.05em;
}

.socmed-container {
    width: 10%;
    height: 30%;
    margin: 0 0 0 3%;
    justify-content: center;
    text-align: center;
    align-items: center;
    float: left;
    position: relative;
    top: 60%;
    padding-right: 1%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.socmed-container .socmed {
    width: 25%;
    height: 100%;
    margin-left: 5%;
    justify-content: center;
}

.header-sign-in-button {
    right: 0;
    margin-right: 5%;
    width: 8%;
    height: 40%;
    float: left;
    top: 55%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 200rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 1vw;
    font-family: "Roboto", serif;
    cursor: pointer;
    background: #C29E38;
    color: #EBE5C9;
}

.header-sign-in-button:hover {
    cursor: pointer;
    background:#AD9552 ;
}

